<h1>Welcome to Notes</h1>
<%if session[:user_id] %>
  <h1>Welcome back, <%= @current_user.username %></h1>
  <a href="/profile/<%= @current_user.id %>">Go to my profile</a>
  <% else %>
   <p><a href="">Login</a></p>
<% end %>


<h3>Want to write a new note?</h3>

<% address = Receiver.where(id: @current_user.id).first %>
 <form id="new_note" action="/notes" method="post">
    <textarea class='note_form' name="message" placeholder="Write a note"></textarea>
    <p> Your address</p>
    <input class='address_field' name="address[street_address]" placeholder="1234" value="<%= address.street_address %>"</input><br>
    <input class='address_field' name="address[street_name]" placeholder="Street Name" value="<%= address.street_name %>"</input><br>
    <input class='address_field' name="address[city]" placeholder="City" value="<%= address.city%>" </input><br>
    <input class='address_field' name="address[state]" placeholder="State" value="<%= address.state %>" </input><br>
    <input class='address_field' name="address[zip_code]" placeholder="Zip Code" value="<%= address.zip_code %>" </input><br>
    <input class='address_field' name="address[country]" placeholder="country" value="<%= address.country %>" </input><br>
    <input class='address_field' name="address[country]" placeholder="country" value="<%= @current_user.id %>"  </input><br>
    <input name="address[user_id]" type="hidden" value="<%= @current_user.id %>"  </input><br>
    <input type="submit" value="Send!">

  </form>




